.container {
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
  text-align: center;
  gap: 10px;
  position: relative;
  background-color: #000000;
  z-index: 100;
}
.nav-box {
  display: flex;
  gap: 10px;
}
.box__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

/* Animation for the border */
.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #168dff;
  transition: width 0.3s ease-in-out;
}

.link::before {
  top: 0;
  left: 0;
}

.link::after {
  bottom: 0;
  right: 0;
}

.link:hover::before,
.link:hover::after {
  width: 100%;
}


.logo {
  width: 125px;
  height: 50px;
  animation: nav-logo 500ms ease-out;
  border-radius: 5px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(14, 105, 241, 0.945)),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  z-index: 100;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 300ms;
}
.logo-img {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-small {
  display: none;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes nav-logo {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes nav-link {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1600px) {
  .link {
    font-size: 20px;
    padding: 3px 12px;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 18px;
    padding: 3px 10px;
  }
}

@media (max-width: 768px) {
  header {
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
  .logo {
    width: 90px;
    height: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .nav-box {
    display: none;
  }

  .nav-small {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .small {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .nav-small{
    justify-content: flex-end;
  }
  .nav-box {
    display: none;
  }
  
}
@media (max-width: 480px) {
  .nav-box {
    display: none;
  }

}
