.links {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  background-color: #fff;
  opacity: 0.8;
  padding: 2rem;
  height: screen;
  animation: nav-link 500ms ease-in;
}
@keyframes nav-link {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0);
  }
}
.box_ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.links .btno {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.links .box_ul > .btno > li {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  padding: 16px 7px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-transform: uppercase;
  font-weight: 800;
}
.links .btno .btn {
  color: #6a6868;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  border-bottom-width: 1px;
}
.links .btno .btn:hover {
  opacity: 0.5;
}
.react-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 16px 0px;
  padding-left: 5px;
  width: 100%;
}
.icon {
  display: flex;

  border-radius: 5px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 6px;
  --tw-shadow-color: #070808;
  --tw-shadow: var(--tw-shadow-colored);
}
.icon:hover {
  border-color: #9ca3af;
  cursor: pointer;
  transform: scale(1.2);
  animation: ease-in 300ms;
}

@media (max-width: 768px) {
  .links {
    width: 45%;
  }
}
@media (max-width: 640px) {
  .links .btno .btn {
    font-size: 14px;
  }
  .links {
    width: 60%;
  }
  .react-icons {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .icon {
    margin-left: 20px;
  }
  .links {
    width: 50%;
  }
  .links .btno .btn {
    font-size: 12px;
  }
  .react-icons {
    margin-left: 10px;
  }
}
@media (max-width: 414px) {
  .react-icons {
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .react-icons {
    margin-left: 35px;
  }
}
