@import url("https://use.fontawesome.com/releases/v6.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,500&display=swap");
* {
  font-family: "Playfair Display", serif;
}

.art h1 {
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.title {
  color: rgb(239, 248, 248);
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  text-align: center;
}
.icon {
  width: 90%;
  height: 100%;
  object-fit: fill;
  color: rgb(0, 0, 0);
}
.signupSection {
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  height: 650px;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0);
}

.info-form {
  max-height: 650px;
  background: rgba(255, 180, 82, 0.8);
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}

.signupForm {
  height: 650px;
  padding: 0px 0;
  background: rgba(255, 180, 82, 0.8);
  transition: 0.2s;
}

.noBullet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 60px;
  margin-right: 10px;
}
.noBullet li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  letter-spacing: 2px;
  gap: 10px;
  position: relative;
}
.link-form {
  color: aliceblue;
  font-weight: bold;
}
.btn {
  margin: 5px;
  color: #fff;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 3px 15px;
  border-radius: 15px;
  border: 2px solid rgba(243, 240, 240, 0.799);
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.1s;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(
    45deg,
    #6bc6c6 0%,
    #19f0a8 51%,
    #93ff2f 100%
  );
}
.payment {
  border-radius: 15px;
  margin: 2px 0;
  font-size: 18px;
  padding: 7px 1;
  border: 10px solid rgb(241, 243, 243);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(235, 109, 36);
  color: white;
  outline: none;
  letter-spacing: 2px;
  text-align: center;
}

.error-form {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 83%;
  letter-spacing: 2px;
  font-weight: bolder;
  color: rgb(247, 5, 5);
  font-size: 15px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  padding: 5px 5px;
}

.error-form {
  width: 98%;
}
@media (max-width: 1024px) {
  .art h1 {
    font-size: 18px;
  }

  .title > h2 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .error-form {
    top: 83%;
    font-size: 12px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 5px 5px;
  }
  .click {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .title h2{
    font-size: 16px;
  }
  .signupSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat;
    height: 700px;
  }
  .signupForm {
    height: 650px;
  }
  .info-form {
    width: 100%;
    height: 350px;
    border-right: none;
  }
  .noBullet {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  .noBullet li label {
    max-height: 50px;
  }
  .noBullet li {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .noBullet li input {
    text-align: center;
    font-size: 12px;
    width: 70%;
  }
  .noBullet li i {
    margin-top: 40px;
  }
 
  .error-form {
    width: 70%;
    font-size: 10px;
    top: 90%;
    padding: 2px 5px;
  }
  .payment {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 14px;
  }
  .btn {
    margin: 0 auto;
    font-size: 14px;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .noBullet li label {
   font-size: 12px;
  }
  .noBullet li input {
   font-size: 12px;
  }
  .payment {
    font-size: 12px;
  }
  .error-form {
    width: 70%;
    font-size: 8px;
    top: 92%;
    padding: 2px 5px;
  }
  .btn {
  
    font-size: 12px;
    width: 60%;
  }
}
@media (max-width: 480px) {
  .title h2{
    font-size: 12px;
  }
  .noBullet li input {
    text-align: center;
    font-size: 12px;
    width: 80%;
  }
  .btn{
    font-size: 14px;
  }
 .payment{
  margin-left: 5px;
  font-size: 10px;
 }

}
@media (max-width: 320px) {
 
  .signupForm{
    height: 750px;
  }
  .art h1 {
    font-size: 12px;
  }
  .noBullet {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  .noBullet li {
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .noBullet li input {

    text-align: center;
    font-size: 12px;
    width: 80%;
  }
  .btn{
    font-size: 14px;
  }
  .image-box{
    display: none;
  }
 .payment{
  margin:0 auto;
  width: 80%;
  font-size: 12px;
 }
 .error-form {
  width: 70%;
  font-size: 8px;
  top: -1%;
  padding: 2px 5px;
}
}
