header{
    text-align: right;
}


.btn{

    color: #fff;
    background: transparent;
    font-family: 'Amaranth', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    padding: 3px 15px;
    border-radius: 0;
    border: 2px solid rgba(243, 240, 240, 0.799);
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.1s;
}

.btno  {
  display: inline-block;
  margin: 1px;
  padding: 10px;
}
.btno a  {
  margin: 5px;
  padding: 10px;
}

