
.wraper{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
   
    
}
.card{ 
   
    border-style: solid;
    border-color: black;
    border-radius: 5px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
   transition: 0.4s;
   width: 163px;
   background: #fff;
   text-align: center;
   font-size: 5px;
   font-family: sans-serif;
   float: left;
   margin: 12px;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.card-body{
    font-size:10px;
     padding:  0;
}
.card-title{
    font-family: "Luckiest Guy", cursive;
    color: rgb(116, 43, 0);
}
.btn-catalog {
    border: 0px solid rgb(246, 250, 250);
  background-color:rgba(73, 25, 216, 0.8);
  font-size: 15px;
  color: white;
  margin-top: 0px;
  padding: 1px 20px;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
}
