.btn {
  text-decoration: none;
  padding: 5px 12px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  border: 2px solid;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  color: var(--c3);
}
