.box__li {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  letter-spacing: 2px;
  gap: 10px;
  margin-bottom: 20px;
}
.box__li label{
  color: aqua;
}
.box__li i{
  color: var(--c3);
}
.box__li input{
  width: 80%;
  border: 2px solid var(--c3);
  border-radius: 5px;
}

.error-form {
  width: 100%;
  position: absolute;
  top: 90%;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(247, 5, 5);
  font-size: 18px;
  text-align: center;
  padding: 5px 5px;
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 1024px) {
  .error-form{
    display: none;
  }
}