.center {
  position: fixed;
  top: 20%;
  left: 40%;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 24px;

}
.wave {
  width: 10px;
  height: 40px;
  background: linear-gradient(45deg,var(--c3), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 1024px) {
  .center {
    font-size: 18px;
  }
  .wave {
    width: 10px;
    height: 80px;
    background: linear-gradient(45deg, rgb(255, 115, 0), #fff);
    margin: 5px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
}
@media (max-width: 800px) {
  .center {
    font-size: 16px;
  }
  .wave {
    width: 8px;
    height: 5px;
    margin: 3px;
  }
}
@media (max-width: 600px) {
  .center {
    font-size: 14px;
  }
  .wave {
    width: 8px;
    height: 5px;
    margin: 3px;
  }
}
@media (max-width: 400px) {
  .center {
    font-size: 12px;
  }
  .wave {
    width: 8px;
    height: 5px;
    margin: 3px;
  }
}
