@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,500&display=swap");
* {
  font-family: "Playfair Display", serif;
}

.form__container {
  width: 100%;
  min-height: 870px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupSection {
  margin: 0 auto;
  width: 60%;
  height: 750px;
  display: grid;
  grid-template-columns: 40% 1fr;
  background-color: var(--c4);
  border-radius: 10px;
  transform: perspective(75em) rotateX(18deg);
  box-shadow: 4px 4px 8px 4px var(--c3);
}

.title h1 {
  color: var(--c3);
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-size: 24px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 750px;
  border-right: 4px solid var(--c3);
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.signupForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box__li {
  height: 80%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.box__submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}




.payment {
  padding: 10px 20px;
  border: 2px solid var(--c3);
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}
.payment:hover {
  background-color: var(--c3);
  color: white;
}
.btn {
  font-size: 22px;
  padding:  5px 12px ;
  border: 2px solid var(--c3);
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
}
.btn:hover {
  background-color: var(--c3);
  color: white;
}
@media (max-width: 1382px) {
  .signupSection {
    width: 80%;
    grid-template-columns: 40% 1fr;
  }
}
@media (max-width: 1024px) {
  .payment {
    font-size: 12px;
    padding: 5px;
  }

  .btn{
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .box__li{
    gap: 5px;
  }
  .icon {
    object-fit: cover;
  }
  .click {
    font-size: 16px;
    margin-top: 20px;
  }
 
  .signupSection {
    grid-template-columns: 1fr;
  }
  .image-box {
    display: none;
  }
}
@media (max-width: 600px) {
  .signupSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    max-height: 750px;
  }
  .btn{
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .box__li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
