.map {
  text-align: center;
  display: flex;
  border-radius: 5px;
  margin: 0;
 width: 100%;

}
.map-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.sidebar {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  color: var(--c3);
  font-family: monospace;
  background: var(--c4);
}
.sidebar li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  letter-spacing: 1px;
}
.sidebar li span{
   color: aqua;
   letter-spacing: 1px;
}
@media (max-width: 1024px) {
  .sidebar {
    width: 30%;
    gap: 10px;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 10px;
  }
}
@media (max-width: 800px) {
  .map {
    width: 100%;
  }
  .sidebar {
    gap: 5px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .map {
    margin: 0 auto;
    width: 80%;
    height: 250px;
  }
  .sidebar {
    width: 25%;
    gap: 5px;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    padding: 15px;
  }
}
@media (max-width: 480px) {
  
  .sidebar {
    width: 25%;
    gap: 2px;
    font-weight: 300;
    font-size: 8px;
    margin: 0;
    padding: 10px;
  }
}
