.map {
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0);
  margin: 0;
}
.map-container {
  height: 100%;
  width: 100%;
}
.sidebar {
  width: 40%;
  background-image: linear-gradient(
    45deg,
    #fd6c4f 0%,
    #f09819 51%,
    #fe8269 100%
  );
  color: #fff;
  font-family: monospace;
  border-radius: 2px;
}
