.map {
  text-align: center;
  display: flex;
  border-radius: 5px;
  margin: 0;
  width: 100%;
}
.map-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.sidebar {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  color: var(--c3);
  font-family: monospace;
  background: var(--c4);
  border-right: 5px solid var(--c3);
}
.sidebar li {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  gap: 5px;
}
.sidebar li span {
  font-family: "Times New Roman", Times, serif;
  color: aqua;
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  .sidebar {
    width: 30%;
    gap: 10px;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 10px;
  }
}
@media (max-width: 800px) {
  .map {
    width: 100%;
  }
  .sidebar {
    gap: 5px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .map {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
   
  }
  .map-container {
    height: 450px;
    border-radius: 0px 0px 0px 0px;
    overflow: visible;
  }
  .sidebar {
    width: 100%;
    gap: 5px;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    padding: 0px;
    border-right: none;
    border-bottom: 5px solid var(--c3);
    
  }
}

