.wraper {
  width: 450px;
  text-align: center;
  padding: 10px;
  height: 550px;
}

.card {
  border-style: solid;
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  float: left;
  margin: 1px;
}
.img {
  width: 100%;
  height: 50%;
}
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.card-body {
  font-size: 10px;
  padding: 0;
  width: 100%;
  height: 50%;
}
.card-title {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(207, 100, 39);
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  padding: 5px 25px;
  font-weight: bolder;
  text-align: center;
  background-color: #eca55e;
  border: none;
  border-radius: 5px;
  color: #0b0a09;
}
.btn:hover {
  background-image: linear-gradient(
    45deg,
    #6bc6c6 0%,
    #19f0a8 51%,
    #93ff2f 100%
  );
}
@media (max-width: 1280px) {
  .wraper {
    height: 450px;
    width: 350px;
  }
}
@media (max-width: 1024px) {
  .btn {
    font-size: 12px;
  }
  .card-title {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .wraper {
    width: 280px;
    height: 380px;
  }

  .card-title {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .wraper {
    width: 250px;
    text-align: center;
    height: 350px;
  }
  .btn {
    font-size: 10px;
  }
  .card-title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .wraper {
    width: 100%;
    height: 250px;
  }

  .btn {
    padding: 5px 10px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-img-top {
    object-fit: cover;
  }
}
