.card {
 
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  width: 1px;
  background: #fff;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  float: left;
  margin: 10px;
  display: flex;
  flex-direction:column;
  width: 40%;

 

 
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.card-body {
  font-size: 10px;
  padding: 0;
}
.card-title {
  font-size: 14px;
  font-family: "Luckiest Guy", cursive;
  color: rgb(207, 100, 39);
}
.btn {
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  margin: 2px;
  padding: 1px 10px;
  font-size: 15px;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  border-radius: 2px;
}
.btn-delete {
  border-style: solid;
  border: 20px;
  font-size: 15px;
  color: aliceblue;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
