.art h1 {
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 7px;
  text-align: center;
}
.art p {
  font-weight: 700;

  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 15px;
  letter-spacing: 7px;
  text-align: center;
  display: block;
}

.home {
  background: rgba(255, 180, 82, 0.8);
  background-repeat: no-repeat;
  position: absolute;
  font-size: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  margin: 0 auto;
  transition: 12s;
  border: 2px solid;
  border-width: 4px;
  border-image: repeating-linear-gradient(
      60deg,
      rgb(242, 179, 43),
      rgb(23, 1, 4) 4%
    )
    1;
}
.home span {
  font-size: 2rem;
  color: rgb(136, 4, 4);
}
.home > span:hover:before {
  content: "\2605";
  position: absolute;
}

.home > img {
  height: 10vw;
  width: 100%;
  object-fit: cover;
}
.home-art {
  text-align: center;
  background: rgba(255, 180, 82, 0.8);
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  display: block;
  width: 300px;
  height: 360px;
  margin: 1 auto;
  transition: 12s;
  border: 2px solid;
  border-width: 4px;
  border-image: repeating-linear-gradient(
      60deg,
      rgb(242, 179, 43),
      rgb(23, 1, 4) 4%
    )
    1;
}
.art-info {
  margin: 25px;
  text-align: center;
  font-weight: bolder;
}

/* CSS */
.button-top {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
