

.page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  border: 15px solid black;
  border-radius: 5px;
  background-color: #161a1d;
  color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  transform: perspective(900px) rotateX(60deg) scale(0.7);
  transition: 0.5s ease all;
}

.container:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
}

.left-page,
.right-page {
  width: 50%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-page {
  display: flex;
  justify-content: center;
  order: 2;
  border-left: 4px solid rgb(0, 0, 0);
}

.left-page {
  display: flex;
  flex-direction: column;
  border-right: 4px solid rgb(0, 0, 0);
}

.art h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-align: center;
  color: black;
}

.art h2 {
  letter-spacing: 0.025em;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.art-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bolder;
  color: #ffffff;
  gap: 10px;
}

.art-info > i {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.art-info p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 15px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .art-info p {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 992px) {
  .art-info p {
    font-size: 16px;
    padding: 10px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .art-info > i {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .art-info > i {
    font-size: 14px;
  }

  .info {
    width: 100%;
  }
  .left-page {
    width: 100%;
    min-height: auto;
    border-right: none;
  }
  .right-page {
    width: 100%;
    border-left: none;
    min-height: auto;
  }
}

@media (max-width: 480px) {
  .container{
    gap: 30px;
  }
  .art-info > i {
    font-size: 12px;
  }
  .art-info p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .art h1 {
    font-size: 12px;
  }
  .art p {
    font-size: 8px;
  }
}
