@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.info {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  order: 2;
  flex-shrink: initial;
}

.art h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 0.025em;
  text-align: center;
  color: #6a6868;
}
.art p {
  display: flex;
  justify-content: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 15px;
  letter-spacing: 0.025em;
  text-align: center;
  color: #6a6868;
}

.home-art {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.art-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  gap: 10px;
}
.art-info > i {
  font-size: 22px;
  font-weight: bold;
  color: #881337;
}
.art-info p {
  text-align: left;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 15px;
  font-family: "Merriweather", serif;
  color: rgb(95, 89, 89);
  font-weight: 500;
}

@media (max-width: 1382px) {
  .container {
    height: 700px;
  }
}
@media (max-width: 1024px) {
  .art-info p {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 992px) {
  .art-info p {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .art-info > i {
    font-size: 30px;
  }
  .art-info p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
  .art-info > i {
    margin-top: 20px;
    font-size: 16px;
  }
  .art-info p {
    font-size: 16px;
    font-weight: 500;
  }
  .info {
    width: 100%;
  }
  .home-art {
    width: 100%;
  }
  .art h1 {
    background-size: 10% auto;

    font-size: 14px;
    letter-spacing: 5px;
  }
  .art p {
    font-size: 12px;
    letter-spacing: 5px;
  }
}
@media (max-width: 480px) {
  .art-info > i {
    font-size: 12px;
  }
  .art-info p {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .art h1 {
    font-size: 12px;
  }
  .art p {
    font-size: 8px;
  }
}
