@import url("https://use.fontawesome.com/releases/v6.2.0/css/all.css");

.box__top {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid red;
  border-bottom: 2px solid red;


  & > .box__img {
    width: 100%;
    height: 600px;
  }

  & > .box__info {
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

    & > .title {
      font-size: 26px;
      font-weight: 700;
    }

    & > .link {
      position: relative;
      display: inline-block;
      padding: 15px 40px;
      background-color: red;
      text-decoration: none;
      overflow: hidden;
      border-radius: 10px;

      &:after {
        content: 'Read More'; // Adjust the text as needed
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: inset(50% 50% 50% 50%);
      }

      &:hover:after {
        animation: glitch 1s steps(2, end);
        animation-timing-function: steps(2, end);
      }
    }
  }
}

@keyframes glitch {
  0% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: inset(50% -6px 30% 0);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: inset(50% -6px 30% 0);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0);
  }
}
