.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15%;

  background: rgba(255, 180, 82, 0.8);
  color: white;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .footer {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .footer {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 10px;
  }
}
