.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15%;

  background: rgba(23, 16, 7, 0.8);
  color: white;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .footer {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .footer {
    font-size: 8px;
    width: 20%;
  }
}
