.wraper {
  display: flex;
  width: 40%;
  height: 40%;
}
h5 {
  font-size: 18px;
}
.card {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  width: 100%;
  height: 50%;
  background: #fff;
  text-align: center;
  font-family: sans-serif;
  margin: 10px;
}
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: fill;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.card-body {
  font-size: 10px;
  padding: 0;
}
.card-title {
  font-family: "Luckiest Guy", cursive;
  color: rgb(116, 43, 0);
}
.button-top {
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #000000;
  background-color: #000000;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-top:hover {
  background-image: linear-gradient(
    45deg,
    #6bc6c6 0%,
    #19f0a8 51%,
    #93ff2f 100%
  );
}
@media (max-width: 1024px) {
  .wraper {
    margin-top: 5px;
    display: flex;
    width: 100%;
    height: 250px;
  }
  h5 {
    font-size: 16px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
  }
  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: fill;
  }
  .button-top {
    margin: 0px;
    font-size: 12px;
    padding: 5px 12px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 800px) {
  .wraper {
    margin-top: 5px;
    display: flex;
    
  }
  h5 {
    font-size: 14px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
  }

  .button-top {
    margin: 0px;
    font-size: 10px;
    padding: 5px 12px;
  }
  
}
@media (max-width: 600px) {
  .wraper {
    display: flex; 
    width: 90%;
    margin-left: 10px;
  }
  h5 {
    font-size: 12px;
    margin: 2px;
  }
  .card {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .button-top {
    margin: 0px;
    font-size: 10px;
    padding: 5px 12px;
  }
}
@media (max-width: 400px) {
  .wraper {
    margin-top: 2px;
    display: flex;
    
  }
  h5 {
    font-size: 10px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .button-top {
    margin: 0px;
    font-size: 10px;
    padding: 1px 5px;
  }
}
@media (max-width: 320px) {
  .wraper {
    margin-top: 2px;
    display: flex;
    width: 80%;
    height: 150px;
  }
  .box-image{
    width: 100%;
    height: 100px;
  }
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
}
