.card {
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 4px solid var(--c3);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  background-color: #161a1d;
  text-align: center;
}

.box-image {
  width: 350px;
  height: 300px;
  border-bottom: 2px solid var(--c3);
}
.box-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-title {
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
}
@media (max-width: 1400px) {
  .card {
    height: 350px;
    width: 300px;
  
  }
  .box-image {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--c3);
  }
  
}

@media (max-width: 1024px) {
  h2 {
    font-size: 16px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
  }
  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: fill;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 14px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 12px;
    margin: 2px;
  }
  .card {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 400px) {
  h2 {
    font-size: 10px;
    margin: 2px;
  }
  .card {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 320px) {
  .box-image {
    width: 100%;
    height: 100px;
  }
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
