.catalog {
  margin-top: 100px;
}

.art h1 {
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
}
.art p {
  font-weight: 700;
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 15px;
  letter-spacing: 10px;
  text-align: center;
  display: block;
}
.link {
  margin: 0,auto;
  color: aliceblue;
  border-radius: 5px;
  font-family: "Luckiest Guy", cursive;

  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
}
.click {
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 3px;
  border-color: #000000;
  border-style: solid;
  color: rgb(247, 247, 247);
  background-image: linear-gradient(
    45deg,
    #6bc6c6 0%,
    #19f0a8 51%,
    #93ff2f 100%
  );
  font-size: 18px;
  padding: 15px;
}
.click:hover {
  color: #b00303;
  background-image: linear-gradient(
    45deg,
    #a70d0d 0%,
    #f0af19 51%,
    #051e8e 100%
  );
}
