.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 750px;
}
.box__title {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.box__title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 750px;
  gap: 30px;
}

.span_error {
  color: red;
  margin-bottom: 5px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 2px;
}
.click {
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 2px;
  border-color: var(--c3);
  border-style: solid;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
}
.click:hover {
  color: white;
  background-color: var(--c3);
}

@media (max-width: 1024px) {
  .art h1 {
    font-size: 18px;
    font-weight: 500;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .link h1 {
    font-size: 18px;
  }
  .click {
    margin-top: 20px;
    font-size: 16px;
    padding: 3px, 15px;
  }
}
@media (max-width: 768px) {
  .art h1 {
    font-size: 16px;
    font-weight: 500;
  }
  .link h1 {
    font-size: 16px;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .click {
    margin-top: 40px;
    font-size: 14px;
    padding: 3px, 15px;
  }
}
@media (max-width: 600px) {
  .art h1 {
    font-size: 14px;
    font-weight: 500;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .link h1 {
    font-size: 22px;
    font-weight: 300;
  }
  .click {
    margin-top: 10px;
    font-size: 12px;
    padding: 3px, 10px;
  }
}

@media (max-width: 400px) {
  .art h1 {
    font-size: 14px;
  }
  .link {
    gap: 10px;
  }
  .link h1 {
    font-size: 14px;
    font-weight: 300;
  }
  .click {
    font-size: 10px;
  }
  .art {
    margin: 0;
  }
}
