.catalog {
  margin-top: 100px;
}

.art h1 {
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
 
}
.art p {
  font-weight: 700;

  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 15px;
  letter-spacing: 10px;
  text-align: center;
  display: block;
}
.link {
  margin: 20px;
  position: absolute;
  top: 50%;
  left: 35%;
  color: aliceblue;
  border-radius: 5px;
  background-size: 10% auto;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  font-family: "Luckiest Guy", cursive;
  font-size: 10px;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
}
.click {
  letter-spacing: 3px;
  border-color: #000000;
  border-style: solid;
  font-size: 15px;
  color: rgb(247, 247, 247);
  background-color: rgb(248, 0, 29);
}
.click:hover {
  color: #000000;
}
