.cards {
  margin: 0 auto;
}
.cards-div {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination {
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 5px;
}
.page {
   font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  border-style: solid;
  border-color: black;
  color: rgb(249, 249, 249);
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.page:hover {
  background-color: skyblue;
  color: white;
}
.pagination.active {
  background-color: skyblue;
}
@media (max-width: 1024px) {
  .cards-div {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    gap: 10px;
  }
  .page {
    margin-top: 20px;
    padding: 4px 15px;
    font-weight: 300;
  }
  .pagination {
    height: 40px;
    font-size: 18px;
    gap: 2px;
  }
 
}
@media (max-width: 800px) {
  .cards-div {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    gap: 5px;
  }
  .page {
    margin-top: 50px;
    padding: 4px 15px;
    font-weight: 400;
  }
  .pagination {
    height: 30px;
    font-size: 14px;
    gap: 2px;
  }
}
@media (max-width: 400px) {
  .cards-div {
    margin: 0;
    display: grid;
    align-items: baseline;
    gap: 10px;
  }
  .page {
    margin-top: 50px;
    padding: 2px 12px;
    font-weight: 400;
  }
  .pagination {
    height: 20px;
    font-size: 12px;
    gap: 2px;
  }
}