.art {
    
    background-size: 10% auto;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: -5px -5px rgba(255, 180, 82, 0.8),
  
  }
  .link{
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    color: aliceblue;
  
    border-radius: 5px;
    background-size: 10% auto;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
    text-decoration: none;
  }