.box__order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 750px;
}

.box__order h1 {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
  color: var(--c3);
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 750px;
  margin-bottom: 30px;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 5px;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.click {
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 3px;
  border-color: var(--c3);
  border-style: solid;
  font-size: 18px;
  padding: 5px 10px;
}

.click:hover {
  background-color: aqua;
  color: #000000;
}

@media (max-width: 800px) {
  .art {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .article {
    width: 100%;
    gap: 15px;
    min-height: 800px;
  }
}
