.error {
  top: 80%;
  margin: 17px;
  text-align: center;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  background: rgba(250, 250, 250, 0.8);
  position: absolute;
  left: 58%;
  width: 20%;
}
.p-error {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: red;
}
@media (max-width: 1024px) {
  .error {
    width: 30%;
  }
  .p-error {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .p-error {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .p-error {
    font-size: 12px;
  }
}
