.error {
  position: fixed;
  bottom: 0;
  left: 51%;
  height: 5rem;
  width: 20%;
  background-color: #e65035;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}
.p-error {
  text-align: center;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 1024px) {
  .p-error {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .p-error {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .p-error {
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .error {
    width: 30%;
    left: 40%;
  }
  .p-error {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .p-error {
    font-size: 10px;
  }
}
