.formBox {
  margin-top: 40px;
}

.searchForm {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 10px;
  background-image: linear-gradient(
    45deg,
    #009999 0%,
    #03105e 51%,
    #06001d 100%
  );
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
}

.searchForm label {
  font-weight: bold;
  margin-bottom: 5px;
  color: aliceblue;
}

.searchForm input[type="number"],
.searchForm select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  appearance: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s;
}
.searchForm select:hover {
  border-color: #1BFFFF;
}
.searchForm option:hover {
  background-color: #1BFFFF;
  color: #fff;
}

.searchForm button {
  display: block;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    45deg,
    #005299 0%,
    #0564c9 51%,
    #000000 100%
  );
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.searchForm span {
  color: red;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .search {
    width: 60%;
    height: 35px;
  }
}
@media (max-width: 800px) {
  .search {
    width: 80%;
    height: 42px;
  }
  .input {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .search {
    width: 80%;
    height: 35px;
  }
  .input {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .search {
    width: 80%;
  }
  .input {
    font-size: 8px;
  }
  .btn {
    font-size: 8px;
  }
}
