@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,500&display=swap");
* {
  font-family: "Playfair Display", serif;
}
.art h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  color: #6a6868;
  font-weight: 500;
}

.signupSection {
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 650px;
  color: white;
  border-radius: 5px;
}

.info-form {
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
  max-height: 600px;
  border-radius: 5px;
}
.title {
  color: #6a6868;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  text-align: center;
}
.icon {
  width: 90%;
  height: 90%;
  object-fit: fill;
  font-size: 8em;
  padding: 20px 0;
  color: rgb(0, 0, 0);
}

.signupForm {
  max-height: 600px;
  padding: 0px 0;
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
  border-radius: 5px;
}

.noBullet {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.noBullet div:first-child {
  margin-top: 10px;
}
.noBullet div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  position: relative;
  width: 80%;
}

.join-btn {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border: 5px solid rgb(246, 250, 250);
  font-size: 14px;
  color: black;
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 15px;
}
.join-btn:hover {
  background-color: #aca7a0;
  color: black;
}
.link-form {
  font-size: 24px;
  letter-spacing: normal;
  text-decoration: none;
  color: #2c2a2a;
  cursor: pointer;
}
.link-form:hover {
  color: rgba(86, 85, 85, 0.8);
}
.click {
  margin: 0;
  font-size: 18px;
  color: #6a6868;
}
.box-h1 {
  margin: 0;
  padding: 0;
}
::placeholder {
  color: black;
}
#center-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.error-form {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 83%;
  letter-spacing: 2px;
  font-weight: bolder;
  color: rgb(247, 5, 5);
  font-size: 15px;
  text-align: center;
  padding: 5px 5px;
}
@media (max-width: 1024px) {
  .art h1 {
    font-size: 18px;
  }

  .title > h2 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .error-form {
    top: 83%;
    font-size: 12px;
    text-align: center;
    padding: 5px 5px;
  }
  .click {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .click {
    font-size: 16px;
    margin-top: 20px;
  }
  .join-btn {
    padding: 3px 7px;
    font-size: 14px;
  }
  .link-form {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .signupSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 750px;
  }
  .click {
    font-size: 14px;
    margin-top: 20px;
  }
  .info-form {
    width: 100%;
    max-height: 300px;
    border-right: none;
  }
  .link-form {
    font-size: 14px;
    border-right: none;
  }
  .signupForm {
    width: 100%;
  }
  .join-btn {
    padding: 3px 5px;
    font-size: 12px;
    border: none;
  }
  .icon {
    width: 80%;
    height: 80%;
    object-fit: fill;
    font-size: 8em;
    padding: 20px 0;
    color: rgb(0, 0, 0);
  }
}
@media (max-width: 480px) {
  .click {
    font-size: 12px;
    margin-top: 10px;
  }
  .link-form {
    font-size: 12px;
    max-height: 400px;
  }

  .join-btn {
    margin-top: 10px;
  }
  .error-form {
    font-size: 10px;
    text-align: center;
    padding: 2px 5px;
  }
}
@media (max-width: 320px) {
  .join-btn {
    padding: 1px;
    font-size: 10px;
  }
}
