/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");

.art h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  color: #6a6868;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #6a6868;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 750px;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 300px;
  gap: 10px;
  border-radius: 5px;
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
}

.product-details h1 {
  font-family: "Old Standard TT", serif;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #6a6868;
  margin: 10px;
}

@keyframes chan-sh {
  from {
    content: "free shipping";
  }
  to {
    content: "New";
  }
}

.hint-star {
  display: inline-block;
  margin-left: 0.5em;
  color: #6a6868;
  width: 50%;
}

.product-details > p {
  padding: 10px;
  font-family: "Farsan", cursive;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 18px;
  color: #6a6868;
}

.product-image {
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 300px;
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
}
.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}
img {
  width: 100%;
  height: 98%;
  object-fit: fill;
  border-radius: 5px;
}

.info {
  background: rgba(179, 177, 175, 0.8);
  font-family: "Farsan", cursive;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.9;
  text-align: left;
  font-size: 120%;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.info h2 {
  text-align: center;
}
.product-image:hover .info {
  transform: translateX(0);
}

.info ul li {
  transition: 0.3s ease;
}

.product-image:hover img {
  transition: all 0.3s ease-out;
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.link {
  text-decoration: none;
  padding: 5px 25px;
  font-weight: bolder;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #6a6868;
  --tw-shadow: 0 10px 15px -5px rgba(255, 246, 246, 0.954),
    0 8px 10px -6px rgba(205, 202, 202, 0.74);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(190, 193, 197, 0.945)),
    var(--tw-ring-shadow, 0 0 rgba(245, 239, 239, 0.487)), var(--tw-shadow);
}
.link:hover {
  background-image: linear-gradient(
    45deg,
    #6bc6c6 0%,
    #19f0a8 51%,
    #93ff2f 100%
  );
}

@media (max-width: 1024px) {
  .art h1 {
    font-size: 18px;
    font-weight: 300;
  }
  .container {
    height: 600px;
  }
  .btn h1 {
    font-size: 22px;
  }

  .product-details > p {
    padding: 10px;
    font-family: "Farsan", cursive;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 18px;
    color: #333;
  }
  .product-details h1 {
    font-size: 24px;
  }
}
@media (max-width: 996px) {
  .product-details h1 {
    font-size: 18px;
  }
  .link {
    padding: 2px 18px;
    font-size: 14px;
  }
  .btn h1 {
    font-size: 16px;
  }
}
@media (max-width: 834px) {
  .container {
    min-height: 850px;
  }
  .product-details h1 {
    font-size: 18px;
  }
  .link {
    padding: 2px 18px;
    font-size: 14px;
  }
  .btn h1 {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .product-details h1 {
    font-size: 18px;
  }
  .art h1 {
    font-size: 16px;
    font-weight: 300;
  }
  .btn h1 {
    font-size: 16px;
  }

  .control {
    justify-content: space-around;
    gap: 2px;
  }

  .product-details > h1 {
    font-size: 18px;
  }
  .product-details > p {
    text-align: left;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }
  .info {
    font-size: 80%;
  }
  .info h2 {
    font-size: 16px;
  }
  .link {
    padding: 2px 10px;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .product-details h1 {
    font-size: 14px;
  }
  .art h1 {
    font-size: 14px;
  }
  .container {
    margin-top: 20px;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
  }
  .product-details {
    width: 100%;
    max-height: 350px;
  }
  .product-image {
    width: 100%;
    max-height: 450px;
  }
  .control {
    justify-content: space-around;
  }

  .product-details > h1 {
    font-size: 18px;
  }
  .product-details > p {
    text-align: left;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }
  .info {
    font-size: 80%;
  }
  .info h2 {
    font-size: 16px;
  }
}
