@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
  --c3: #168dff;
  --c4: #161a1d;
}

body {
  font-family: 400 16px/1.3 Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;

  header {
    font-family: "Roboto", "Trebuchet MS", Helvetica, Arial, sans-serif;
    background-color: $primary-color;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid transparent;
  }

  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  input {
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid white;
    color: #000000;
    padding: 5px;
    text-align: center;
  }

  i {
    font-size: 16px;
    color: $brandRed;
  }

  label {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #6a6868;
  }

  button {
    padding: 0;
    margin: 0;
    color: white;
    font: 400 12px/1 "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
      sans-serif;
    letter-spacing: 1px;
  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    color: white;
    height: 40px;
    text-align: center;
    align-items: center;
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font: 400 12px/1 "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
      sans-serif;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.active {
      color: #6a6868;
      border-color: $brandRed;
    }

    @media (max-width: 840px) {
      font-size: 22px;
    }
  }

  @media (max-width: 1024px) {
    .error-form {
      top: 83%;
      font-size: 12px;
      background-color: white;
      text-align: center;
      border-radius: 15px;
      padding: 5px 5px;
    }

    input {
      font-size: 16px;
      border-radius: 15px;
      border: 1px solid white;
      color: #000000;
      padding: 5px;
      text-align: center;
    }

    i {
      font-size: 16px;
      color: #c2410c;
    }

    label {
      font-size: 16px;
    }
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 18px;
    }

    input {
      font-weight: 400;
      border-radius: 15px;
      border: 1px solid white;
      color: #000000;
      padding: 5px;
      text-align: center;
    }

    i {
      font-size: 14px;
      color: #c2410c;
    }

    label {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    background-image: none;
  }
}
